/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@300;800&family=Roboto+Mono:wght@300;400&family=Sanchez&display=swap');

// Fonts (CSS rules)
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-serif: 'Sanchez', serif; 
//$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;